# Python cache
__pycache__/
*.pyc

# Virtual environment
.env
.env*/

# IDEs
.vscode/
.idea/

# Streamlit cache
.streamlit/

# Data OUTPUT (raw downloads)
data/raw/*
data/cache/*
!data/README.md

# Model artifacts
models/weights/*
models/checkpoints/*
!models/README.md

# Plots OUTPUT
plots/*.png
plots/*.jpg
plots/*.pdf
!plots/README.md

# Local Tests
/tests
